/*======================= General ================================*/

/*======================= Navigation Bar =========================*/

body > header.nav_bar > ul{
    list-style: none;
}

body > header.nav_bar > ul > li{
    display: inline;
    margin: 10pt;
}

body > header.nav_bar > a{
    color: white;
}

/*======================= Home ===============================*/


/*========================== Portfolio ===================*/
body > div.content > div.projects > ul{
    list-style:none;
}

body > div.content > div.projects > ul > li{
    border-color: grey;
    border: 1px;
    border-width: 5in;
    margin-bottom: 0.5cm;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
    background-color: white;
}

body > div.content > div.projects > ul > li > img{
    border-radius: 8px;
    width: 150px;
}

